section.login {
  height: 100%;
  overflow-x: hidden;
}

section.login .row {
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #18181B;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
  border-radius: 4px 0px 0px 4px;
}

.loginimg {
  height: 100%;
  background: #f8f5f0;
}

.headinglogin h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 53px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #0065C0;
  margin: 0;
}

.headinglogin {
  border: 1px solid #c4c4c4;
  border-left: 0;
  border-right: 0;
}

.logindetails {
  text-align: center;
  padding-top: 151px;
  padding-bottom: 151px;
  margin-top: -55px !important;
  max-width: 810px;
  margin: auto;
  border: 1px solid #c4c4c4;
  border-top: none;
  border-bottom: none;
  height: 100%;
}

.logindetails img {
  margin-bottom: 28px;
}

.logindetails p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #18181B;
}

.loginimglogo {
  padding: 30px 40px;
}

.loginuserdetail h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 53px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #f8f5f0;
  margin-bottom: 36px;
}

.loginuserdetail {
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
}

.userinput span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #f8f5f0;
  opacity: 0.6;
}

.userinput input {
  width: 100%;
  /* border-bottom: 0.5px solid rgb(248 245 240 / 10%) !important; */
  background: transparent;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #f8f5f0;
  border: 1px solid rgba(237, 237, 237, 0.4);
  height: 47px;
  margin-top: 15px;
  padding-left: 15px;

}

.userinput {
  margin-bottom: 40px;
}

.userinput input::placeholder {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #f8f5f0;
  opacity: 0.6;
}

.btnred {
  background: #0065C0;
  padding: 15px 45px;
  border-radius: 100px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #f8f5f0;
  text-decoration: none;
}

.btnred {
  margin-top: 50px;
}

.signuplink p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: rgb(248 245 240 / 40%) !important;
  margin: 0 !important;
}

.signuplink p {
  display: flex;
  align-items: center;
}

.signuplink p a {
  margin-left: 10px;
  text-decoration: none;
}

.btnred.btnwhite a {
  color: #0065C0;
  background: white;
}

input:focus-visible {
  outline: none;
}

.signuplink p {
  display: flex;
  align-items: center;
}

.signuplink p a {
  margin-left: 10px;
  text-decoration: none;
}

.signuplink p a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #f8f5f0;
}

.forgott a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #f8f5f0;
  text-decoration: none;
}

.userInput input {
  border: 1px solid rgba(204, 204, 204, 0.8);
  padding: 0 10px;
}

body section.login {
  height: auto !important;
  overflow: hidden;
}

p.welcometext {
  display: none;
}

body .loginimg {
  height: auto;
}

body .logindetails {
  height: auto;
}

.conditionsub.title h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #18181B;
  text-align: center;
}

.headermenu a img:first-child {
  width: 150px;
}

ul.setting img {
  width: auto !important;
}

.modal-body {
  text-align: center;
}