.forgott a,
.forgott h6,
body .userinput input {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #f8f5f0;
    letter-spacing: 0.05em;
}

.userinput input,
body .userinput input {
    border-bottom: 0.5px solid !important;
    align-items: center;
    display: flex;
    width: 100%;
    background: 0 0;
}

.btnlogout .outBtn,
.btnnext .nextBtn,
.btnred {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.list,
.list1 {
    overflow: auto;
}

.btnlogout .outBtn,
.btnnext .btn,
.btnnext .nextBtn,
.conditionsub h3,
.conditionsub.title h3 {
    text-transform: capitalize;
}

.btnlogout .outBtn,
.btnnext .nextBtn,
.checkdetail p {
    font-family: "Inter", sans-serif;
    letter-spacing: 0.05em;
    font-style: normal;
}

.btnlogout .outBtn,
.btnnext .nextBtn {
    text-align: center;
    color: #f8f5f0;
    text-decoration: none;
}

h3.conditionsubb {
    text-transform: capitalize !important;
}

.headinglogin h3,
.loginuserdetail h3 {
    font-style: normal;
    text-transform: capitalize;
}

a.chat_screen_arrow_mobile_link svg {
    fill: #18181B;
}

a.btnblue {
    justify-content: center;
}

body .userinput input {
    border: 0.5px solid !important;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
}

.custom_drawer_main {
    height: -webkit-fill-available;
    background: #18181B;
    /* border-radius: 20px 0px 0px 20px; */
    padding-top: 50px;
}

.chatscreen .col-lg-10 {
    z-index: 1;
}

.about_us_sec .inner_div_dashboard {
    padding-top: 0 !important;
}

.chat_with_doctor .col-lg-3 {
    /* height: 92vh !important; */
    height: calc(100vh - 75px) !important;
    /* height: 91.9vh !important; */
}

.massage_count {
    background-color: #c0c0c0 !important;
}

.chat_with_doctor ul.chatlists {
    margin-bottom: 0;
    padding: 0;
}

.chat_with_doctor ul.chatlists li a {
    padding: 15px;
    text-decoration: none;
}

.chat_with_doctor .profileinfochat {
    margin-right: 10px;
}

.treatment_details_main_sec h1.card_title {
    color: #fff !important;
}

img.header_logo_main {
    width: 150px;
}

body .notificmain .activepatient {
    width: auto !important;
}

.treatment_details_main_sec .card_detail p {
    color: #fff !important;
}

.treatment_details_main_sec .card_detail p {
    color: #fff !important;
}

.patient_dashboard_main a.redbtn:hover {
    color: #fff;
}

.patient_dashboard_main a.redbtn {
    text-decoration: none;
}

a {
    text-decoration: none !important;
    cursor: pointer !important;
}

.medicinlist a.btnred {
    color: #fff !important;
}

.view_order .col-lg-8 {
    padding: 0;
}

.conform_orders .treatmentdetail.confirmord.inner_div_dashboard {
    margin-top: 7rem;
    padding-top: 10px !important;
}

.conform_orders ul.subtotalorder {
    margin: 0;
}

.conform_orders a.button:hover {
    color: #fff;
}

button.header_hamburger_menu_button {
    padding: 0;
}

.order_payment .treatmentdetail.inner_div_dashboard {
    margin-top: 100px !important;
    padding-top: 30px !important;
}

.custom_drawer .MuiPaper-root.MuiPaper-elevation {
    background-color: transparent !important;
    box-shadow: none;
    width: 278px;
}

.asidechat {
    /* justify-content: space-between; */
    display: flex;
    align-items: end;
}

.signuplink {
    position: relative !important;
    bottom: 0 !important;
    margin-top: 140px;
}

.header_right_bar {
    display: flex;
    align-items: center;
}

.header_hamburger_menu {
    margin-left: 15px;
}

button.header_hamburger_menu_button {
    background: transparent;
    border: none;
}

.inner_div_dashboard {
    padding-top: 100px !important;
}

ul.bell.noti {
    z-index: 9;
}

header.chatheader {
    width: -webkit-fill-available;
    position: fixed;
    z-index: 9;
    border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
}

.forgott a,
.forgott h6 {
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

section.login {
    height: 100vh;
    overflow: hidden;
}

section.login .row {
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #18181B;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0 0 4px;
}

.loginimg {
    height: 100%;
    background: #f8f5f0;
}

.headinglogin h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 53px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #0065C0;
    margin: 0;
}

.headinglogin {
    border: 1px solid #c4c4c4;
    border-left: 0;
    border-right: 0;
}

.logindetails {
    text-align: center;
    padding-top: 151px;
    padding-bottom: 151px;
    margin-top: -55px !important;
    max-width: 810px;
    margin: auto;
    border: 1px solid #c4c4c4;
    border-top: none;
    border-bottom: none;
    height: 100%;
}

.logindetails img {
    margin-bottom: 28px;
}

.logindetails p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #18181B;
}

.loginimglogo {
    padding: 30px 40px;
}

.loginuserdetail h3 {
    /* font-family: "Inter", sans-serif; */
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 53px;
    letter-spacing: 0.05em;
    color: #f8f5f0;
    margin-bottom: 36px;
}

.userinput input,
.userinput span {
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #f8f5f0;
    font-style: normal;
    letter-spacing: 0.05em;
}

.loginuserdetail {
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
}

.userinput span {
    opacity: 0.8;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.6;
}

.userinput input {
    border: none;
    font-size: 20px;
    line-height: 24px;
}

.btnnext button,
.btnred {
    background: #0065C0;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
}

.signuplink p,
.signuplink p a {
    font-size: 14px;
    line-height: 17px;
}

.userinput {
    margin-bottom: 40px;
}

.userinput input::placeholder {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #f8f5f0;
    opacity: 0.6;
}

.btnred {
    padding: 15px 45px;
    border-radius: 100px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    border: none;
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #f8f5f0;
    margin-top: 50px;
}

.caption,
.signuplink p,
.signuplink p a {
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.borderdiv,
.caption,
.checkdetail,
.checkdetail .tick,
.checkdetail p,
.checktab,
.checktab textarea,
.home_inputs label,
.male.home_inputs label,
.selecttab,
.signuplink p,
label.form-check-label {
    align-items: center;
    display: flex;
}

.signuplink p {
    font-style: normal;
    letter-spacing: 0.05em;
    color: rgb(248 245 240 / 40%) !important;
    margin: 0 !important;
}

.complete h4,
.dropdown>.list>.item.selected,
div.dropdown>div.list>div.item.selected {
    font-weight: 700;
}

.complete h4,
.signuplink p a {
    font-style: normal;
    color: #f8f5f0;
}

.dropdown,
div.dropdown {
    margin: 0 5px;
    position: relative;
}

.btnred.btnwhite a {
    color: #0065C0;
    background: #fff;
}

input:focus-visible {
    outline: 0;
}

.signuplink p a {
    margin-left: 10px;
    text-decoration: none;
    text-decoration-line: underline;
}

.male label {
    min-height: 44px;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
}

.male input:checked+label {
    padding-right: 1.5rem;
    background: rgba(167, 82, 72, 0.1);
    color: #0065C0;
}

.complete {
    text-align: center;
}

.checkdetail .tick,
.checktab,
.complete p,
.conditionmain,
label.form-check-label {
    justify-content: center;
}

.complete h4 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    line-height: 53px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    opacity: 0.8;
}

.dropdown>.caption,
.dropdown>.list>.item,
div.dropdown>div.caption,
div.dropdown>div.list>div.item {
    padding: 11px 24px;
    cursor: pointer;
}

.dropdown>.list,
div.dropdown>div.list {
    position: absolute;
    width: 100%;
    border-radius: 0 0 3px 3px;
    display: none;
}

.dropdown.open>.caption,
div.dropdown.open>div.caption {
    border-bottom: 1px solid #999;
}

.dropdown.open>.list,
div.dropdown.open>div.list {
    display: block;
}

.list {
    background: rgb(240 228 223);
    border: 0.5px solid #0065C0;
    height: 240px;
}

.btnnext.following {
    margin-top: 30px;
}

.conditioninfo.following,
section.condition.home .conditioninfo {
    margin-bottom: 80px;
}

.btnnext .nextBtn:hover svg path,
.male input:checked+label svg path {
    fill: #0065C0;
}

.male svg {
    margin-right: 7px;
}

.main_sti_std_model .modal-content {
    background: #F4F4F5;
}

.modal-content {
    display: block !important;
    flex-direction: inherit;
    background: #F4F4F5 !important;
    color: white !important;
    border-radius: 10px;
    padding: 24px 12px 50px;
}

.main_sti_std_model .modal-content p {
    color: #f8f5f0 !important;
}

.main_sti_std_model .modal-content p a {
    color: #78a3bf !important;
}

.btnnext button,
.modal-content p {
    font-weight: 500;
    align-items: center;
    color: #f8f5f0;
    font-style: normal;
    letter-spacing: 0.05em;
    font-family: "Inter", sans-serif;
}

.modal-content p {
    font-size: 14px;
    line-height: 17px;
    display: flex;
    opacity: 0.8;
}

.modal-dialog.modal-lg.modal-dialog-centered {
    width: 606px;
}

.modal-content .btnnext {
    margin-top: 28px;
}

.btnnext button {
    border-radius: 99px;
    font-size: 16px;
    line-height: 20px;
    display: inline-flex;
    justify-content: center;
    width: 160px;
    height: 50px;
    border: none;
}

.caption,
.male label {
    align-items: center;
    display: flex;
}

.btnnext .nextBtn:hover,
.btnnext button:hover {
    background: #f0e4df;
    border: 1px solid #0065C0;
    color: #0065C0;
}

.btnnext .nextBtn:hover svg,
.btnnext button:hover svg {
    transform: translateX(5px);
}

.btnnext .nextBtn svg,
.btnnext button svg,
a {
    transition: 0.5s;
}

.btn-primary:focus {
    background: 0 0;
    box-shadow: none;
}

.caption,
.dropdown.open {
    background: rgba(167, 82, 72, 0.1);
}

.dropdown {
    width: 154px;
}

.dropdown.open {
    width: 154px;
    text-align: center;
}

.caption {
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #18181B;
    opacity: 0.6;
    padding: 17px 12px !important;
    border: 0.5px solid #f2ebe5;
}

.dropdown.open .caption {
    border-color: #0065C0;
}



.list1 {
    background: rgb(240 228 223);
    border: none;
    color: #cf9598;
    height: auto !important;
}

.list1:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none !important;
    outline: 0 !important;
    background-color: rgb(240 228 223) !important;
    color: #cf9598 !important;
}

.dropdown-item,
.dropdown-menu,
.list1 .list1:hover,
.show>.btn-secondary.dropdown-toggle {
    background-color: rgb(240 228 223) !important;
    color: #cf9598 !important;
    border: none !important;
}

.item,
.male label {
    font-size: 13px;
    line-height: 16px;
    color: #18181B;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-style: normal;
}

.dropdown-toggle::after {
    margin-left: 5.255rem !important;
}

.item.selected,
.item:hover {
    background: #cf9598;
    color: #fff;
}

.item {
    font-family: "Inter", sans-serif;
}

.male label {
    /* width: 233px; */
    height: 44px;
    background: #fff;
    border: 0.5px solid #0065C0;
    font-family: "Inter", sans-serif;
    margin: auto;
    padding-left: 12px;
}

.male {
    position: relative;
    margin-bottom: 15px;
}

.male input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.checkdetail,
.male label {
    position: relative;
}

.male label:after {
    background-color: #0065C0;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    position: absolute;
    content: "✓";
    right: 10px;
    opacity: 0;
    transition: 0.5s;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.btn_logout,
.caption {
    justify-content: space-between;
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btnnext button:hover svg path {
    fill: #ba555d;
}

.form-check.form-check-inline input:checked+label,
.male input:checked+label:after {
    opacity: 1;
}

.caption {
    display: flex;
}

.list::-webkit-scrollbar {
    width: 5px;
}

.list::-webkit-scrollbar-track {
    background: 0 0;
}

.list::-webkit-scrollbar-thumb {
    background: #cf9598;
}

.selectgender.doctor label {
    width: 500px;
}

section.condition.doctor {
    overflow: auto;
    height: auto;
}

section.condition.doctor .conditionmain .borderdiv {
    padding-top: 70px;
}

section.condition.doctor .conditionmain .conditioninfo {
    margin-bottom: 50px;
}

.btnnext.com a {
    width: 227px;
}

.frusted label {
    width: 220px;
}

.selectgender.exercise label {
    width: 323px;
    height: 44px;
    font-size: 13px;
}

.conditionsub p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #18181B;
}

.complete.modal-body h4 {
    opacity: 0.8;
    color: #f8f5f0;
    /* color: #18181B; */
    font-size: 24px !important;
}

.conditionsub2 {
    margin-bottom: 25px;
}

section.condition {
    min-height: 100vh;
    overflow-x: hidden;
    height: 100vh;
    background: #f8f5f0;
    overflow: hidden;
}

.borderdiv,
.checkdetail,
.conditionmain,
.selecttab {
    align-items: center;
    display: flex;
}

.borderdiv {
    padding: 50px 0;
    justify-content: center;
}

.textEssue {
    overflow-y: auto;
    height: 650px;
}

.textEssue::-webkit-scrollbar {
    width: 0;
}

.btnnext .nextBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.selecttab {
    justify-content: center;
    flex-wrap: wrap;
}

.male span {
    width: 94%;
}

.loginimglogo.conlogo {
    border-bottom: 1px solid #c4c4c4;
}

.checkdetail {
    width: 245.33px;
    height: 40px;
    background: rgba(167, 82, 72, 0.1);
    border: 0.5px solid #0065C0;
    text-decoration: none;
}

.checkdetail p {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #0065C0;
}

.checkdetail .tick,
label.form-check-label {
    align-items: center;
    border-radius: 100%;
    display: flex;
}

.btnred.btnwhite a:hover,
label.form-check-label {
    color: #fff;
    background: #0065C0;
}

.profileinfochat {
    width: 100%;
    overflow: hidden;
}

.profileinfochat h4,
.profileinfochat p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.checkdetail .tick {
    background: #0065C0;
    width: 18px;
    height: 18px;
    justify-content: center;
}

input.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.form-check.form-check-inline input+label {
    opacity: 0;
    transition: 0.5s;
}

.checkdetail input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 20px;
    top: -4px;
    opacity: 0;
}

label.form-check-label {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    justify-content: center;
    font-size: 10px;
}

.conditionsub h3,
.conditionsub.title h3 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 78px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #18181B;
    text-align: center;
}

.checktab input,
.checktab textarea,
.conditionsub h3.conditionsub_postcode,
.conditionsub2 h3,
.home_inputs label,
.male.home_inputs label {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.conditionsub h3.conditionsub1,
.conditionsub h3.conditionsubb {
    font-size: 28px;
    line-height: 34px;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.conditionmain {
    height: calc(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 60px;
    border: 1px solid #c4c4c4;
    border-top: 0;
    border-bottom: 0;
}

.conditioninfo {
    margin-left: auto;
    width: 800px;
    max-width: 800px;
    margin-right: auto;
    margin-bottom: 100px;
    /* margin-bottom: 180px; */
}

.borderdiv {
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: 0 60px;
    border: 1px solid #c4c4c4;
    border-top: 0;
    border-bottom: 0;
    overflow: auto;
}

.borderdiv::-webkit-scrollbar {
    display: none;
}

input#inline-checkbox-1 {
    z-index: -99999;
}

.checktab,
.selecttab {
    flex-wrap: wrap;
}

.checkdetail {
    padding-left: 10px;
    margin: 6px;
}

.conditionsub {
    white-space: pre-wrap;
    margin-bottom: 48px;
}

.checkdetail.bg-white p {
    color: #18181B;
}

.checkdetail.bg-white.sex {
    width: 231px;
}

.checkdetail.bg-white.emergency {
    width: 274px;
}

.checkdetail.bg-white.sex form {
    position: absolute;
    right: 0;
}

.btnnext .nextBtn {
    background: #0065C0;
    border-radius: 99px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 50px;
}

.btnnext {
    text-align: center;
    margin-top: 80px;
}

.btnnext .nextBtn svg {
    margin-left: 6px;
}

.selecttab label {
    margin-right: 13px !important;
    /* width: 265px !important; */
}

a:hover {
    color: #0065C0;
}

.btnred a:hover {
    background: #fff;
    color: #0065C0;
}

.btn_logout {
    display: flex;
    align-items: center;
}

.btnlogout .outBtn {
    background: #0065C0;
    border-radius: 30px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
}

textarea {
    resize: none;
    width: 92%;
    border-radius: 10px;
}

.checktab .gender_select:focus,
textarea:focus {
    outline: 0;
}

.conditionsub .conditionsubh3 {
    width: 1218px;
    height: 120px;
}

.conditionsub h3.conditionsub1 {
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    color: #18181B;
}

.conditionsub h3,
.conditionsub h3.conditionsubb {
    letter-spacing: 0.02em;
    text-align: center;
}

.conditionsub h3.conditionsubb {
    font-weight: 500;
    text-transform: capitalize;
    padding-top: 30px;
    color: #18181B;
}

.conditionsub h3.conditionsub_postcode,
.conditionsub2 h3 {
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #18181B;
    text-align: center;
}

.next_button svg {
    margin-left: 10px;
}

.next_button.button:hover {
    color: #fff;
}

.btnsseepdf {
    display: flex;
}

section.condition.payment_summary {
    padding-bottom: 0 !important;
}

.sidebar_menu_link span {
    color: #18181B !important;
    font-weight: 500;
}

.payment_summary .card_detail p {
    color: #f8f5f0 !important;
}

.sidebar_menu_link {
    text-decoration: none;
    color: #18181B;
}

ul.chatmenu li .sidebar_menu_link:hover span {
    color: black !important;
}

.modal-body a {
    color: rgb(0 59 97 / 60%) !important;
}

.modal-body .vertical-modal {
    color: #78a3bf !important;
}

.checktab input,
.checktab textarea {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.checktab .gender_select,
.checktab input,
.checktab textarea {
    background: rgba(255, 255, 255, 0.1);
    border: 0.5px solid #0065C0;
    font-size: 13px;
    line-height: 16px;
    color: #0065C0;
}

.btnnext .btn,
.home_inputs label {
    font-size: 14px;
    letter-spacing: 0.05em;
}

.conditionsub h3.conditionsub_postcode {
    text-transform: capitalize;
}

.checktab textarea {
    height: 200px;
    padding: 10px;
}

.checktab input {
    padding: 12px;
}

.home_inputs {
    width: 403px;
    margin: 0 auto;
}

.home_inputs label {
    font-weight: 500;
    line-height: 17px;
    color: #18181B;
    margin-bottom: 5px;
    height: 20px !important;
}

.what_your_sex_head {
    text-transform: inherit !important;
    line-height: 43px !important;
    /* font-family: "Inter", sans-serif */
}

.conditionsub h3 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 53px;
    letter-spacing: 0.05em;
    color: #18181B;
}

.home_inputs input,
.male.home_inputs label {
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #18181B;
    padding: 12px;
}

.male.home_inputs {
    width: 100%;
}

.male.home_inputs label {
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #18181B !important;
    width: 100%;
    opacity: 0.4;
}

.checktab .gender_select,
.home_inputs input {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.home_inputs label img {
    margin-right: 10px;
}

.home_inputs input {
    color: #18181B;
    width: 100% !important;
    opacity: 0.8;
    background-color: transparent;
}

@media only screen and (max-width: 575px) {
    .home_inputs input {
        width: 100% !important;
    }
}

.home_inputs input[type="number"]::-webkit-inner-spin-button,
.home_inputs input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.checktab .gender_select {
    width: 403px;
    padding: 10px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='palevioletred' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") !important;
    appearance: none;
    background-repeat: no-repeat !important;
    background-position: 97% 13px !important;
    background-size: 1em !important;
    cursor: pointer !important;
    margin-bottom: 30px;
}

@media only screen and (max-width: 400px) {
    .checktab .gender_select {
        width: 300px;
    }
}

.checktab .gender_select:hover {
    background-position: 97% 12px !important;
}

.checktab textarea:focus-visible {
    outline: 0;
}

.btnnext .btn {
    background: #0065C0;
    border-radius: 99px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    color: #f8f5f0;
    justify-content: center;
    width: 240px;
    height: 50px;
    text-decoration: none;
    border: none;
}

.male {
    display: flex;
}

a.button:hover {
    color: #fff;
}

.male label,
.selecttab .male,
.selectgender .male {
    width: 100% !important;
}

.checktab {
    width: 100% !important;
}



.exercise {
    width: 70% !important;
}

.selectgender,
.selecttab {
    width: 600px !important;
    /* width: 100% !important; */
}

.selectgender1 {
    /* width: 600px !important; */
    width: 100% !important;
}

.selecttab {
    flex-direction: column;
}

h4.thrush_bacterial {
    color: #fff !important;
}
.flow-sub-heading-wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
}
.flow-heading{
    color: #18181B;
    margin-top: 16px;
    font-size: 21px;
}