@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;

    --brand-900: #0066c0;
    --brand-00: #ffffff;
    --brand-800: #0066c0;
    --brand-700: #0577d2;
    --brand-700-50: #0576d281;
    --brand-500: #159df8;
    --brand-300: #1876bd86;
    --brand-200: #e4e4e7;
    --brand-100: #f4f4f5;
    --neutral-900: #18181b;
    --neutral-00: #ffffff;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer utilities {
  @keyframes slide-out-left {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  @keyframes slide-out-right {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  .animate-slide-out-left {
    animation: slide-out-left 500ms forwards;
  }

  .animate-slide-out-right {
    animation: slide-out-right 500ms forwards;
  }
}

@layer utilities {
  @keyframes slide-in-left {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-in-left {
    animation: slide-in-left 500ms forwards;
  }

  .animate-slide-in-right {
    animation: slide-in-right 500ms forwards;
  }
}

/* Custom styles for radio selection */
.radio-checked:checked {
  @apply bg-white border border-neutral-200; /* Set the border to gray */
  -webkit-appearance: none; /* Turn off the default appearance */
  appearance: none;
  border-radius: 50%;
  position: relative;
}

.radio-checked:checked::after {
  content: "";
  display: block;
  width: 8px; /* The size of the internal dot */
  height: 8px;
  background-color: #000000; /* Set the color of the internal dots */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  /* background: #fff url("/public/assets/SVG/Path 5.svg") 97% 50% no-repeat; */
  position: absolute;
  right: 15px;
}

.asidechat img {
  width: 150px;
}

.sub_quetions li {
  line-height: 0px !important;
}

/* how goes it work ==== */

.how-goes-it-work-main {
  background: #F4F4F5;
  border-radius: 20px;
  padding: 20px 45px;
  margin-top: 160px;
}

.agree-btn {
  margin-top: 20px !important;
}

.how-goes-it-work-main .title {
  color: #18181B;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  text-transform: capitalize;
  text-align: center;
}

.card_main {
  background: #ffffff;
  border: 0.5px solid #18181B;
  border-radius: 12px;
  padding: 10px 17px;
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 14px;
}

.card_detail {
  display: flex;
  gap: 8px;
}

.card_number {
  background-color: #18181B;
  min-width: 24px;
  width: 24px;
  min-height: 24px;
  max-height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_detail_text .card_title {
  font-family: "Inter", sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #18181B !important;
}

.card_detail_text .card_description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: rgba(0, 59, 97, 0.5);
}

.terms_conditions {
  margin-top: 18px;
  margin-bottom: 70px;
}

.terms_conditions p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(0, 59, 97, 0.5);
}

.terms_conditions p a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(180, 85, 93, 1) !important;
}

.australia_text_box {
  width: 828px;
  height: 146px;
  left: 346px;
  top: 437px;
  padding: 22px;
  background: #F4F4F5;
  border-radius: 20px;
}

.australia_text_box_inner {
  border: 1px dashed rgba(0, 59, 97, 0.24);
  border-radius: 20px;
  padding: 27px;
}

.australia_text_box_inner p {
  color: #18181B;
  font-family: "Inter", sans-serif;
  font-style: normal;
  margin-bottom: 0px;
  font-weight: 500 !important;
  font-size: 16px;
  letter-spacing: -0.011em;
  line-height: 24px;
}

.loader {
  /* position: relative; */
  height: 100vh;
  overflow: auto;
}

/* .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: #0065C0 !important;
  border: none !important;
} */

/* .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #0065C0 !important;
  border: none !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active text {
  fill: #FFF !important;
} */

/* .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  color: transparent !important;
  border: 2px solid #0065C0 !important;
  border-radius: 50px;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root text {
  fill: #0065C0 !important;
}

.css-z7uhs0-MuiStepConnector-line {
  border-color: #0065C0 !important;
}

.css-qivjh0-MuiStepLabel-label.Mui-active {
  color: #0065C0 !important;
  font-weight: 400 !important;
  font-size: 18px !important;
}

.css-qivjh0-MuiStepLabel-label {
  color: #0065C0 !important;
  font-weight: 400 !important;
  font-size: 18px !important;
} */

.MuiStepLabel-iconContainer {
  color: #0065C0 !important;
}

.MuiStepLabel-iconContainer.Mui-active .MuiSvgIcon-fontSizeMedium {
  color: #0065C0 !important;
  border: none !important;
}

.MuiStepLabel-iconContainer.Mui-active {
  position: relative !important;
}

.MuiStepLabel-iconContainer.Mui-active::before {
  content: "" !important;
  background-image: url(./Assets/images/Stepper_arrow.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center;
  width: 20px;
  height: 20px;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.mdl-stepper-horizontal-alternative
  .mdl-stepper-step.step-done
  .mdl-stepper-circle:before {
  content: url(./Assets/images/Stepper_arrow.png) !important;
  /* background-image: url(./Assets/images/Stepper_arrow.png) !important; */
}

.payment_summary_staps
  .MuiStep-root.MuiStep-horizontal.MuiStep-alternativeLabel.css-n7tliy-MuiStep-root {
  padding-left: 0;
  padding-right: 0;
}

.payment_summary_staps .mdl-stepper-horizontal-alternative {
  padding-left: 0;
  padding-right: 0;
}

.MuiSvgIcon-fontSizeMedium {
  /* color: transparent !important;
  border: 2px solid #0065C0 !important;
  border-radius: 50px; */
}

.MuiSvgIcon-fontSizeMedium text {
  display: none !important;
}

.payment_summary_component {
  text-align: center;
  padding: 25px;
}

.payment_summary_component h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.05em;
  color: #18181B;
}

.payment_summary_component p {
  color: #18181B;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.05em;
  line-height: 30px;
}

.payment_summary_component .crad {
  background: #F4F4F5;
  border-radius: 21.8145px;
  padding: 50px;
  margin-bottom: 30px;
}

.card_detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card_detail p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: #f8f5f0;
  margin-bottom: 0px;
}

.Input {
  background-color: transparent !important;
}

.sub_title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 24px;
  color: #f8f5f0;
  opacity: 0.8;
}

.verify_email_text {
  font-size: 40px;
  font-weight: 700;
  margin-top: 50px;
  opacity: 0.5;
}

.verify_email_button {
  margin-top: 20px;
  background-color: #18181B;
  border: none;
  color: #fff;
  padding: 16px 36px;
  border-radius: 50px;
}

.prepdiv {
  color: #18181B;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.05em;
  /* line-height: 30px; */
}
