.contctusdetail input {
  border: 1px solid rgba(204, 204, 204, 0.4);
  background: transparent;
  width: 100%;
  height: 47px;
  padding: 10px;
  margin-top: 10px;
}

.contctusdetail span {
  margin: 0 !important;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #18181B;
}

.contctusdetail span svg {
  margin-right: 4px;
}

.termsandconditions.con h4 {
  margin-bottom: 29px;
}

.contctusdetail textarea {
  width: 100%;
  border: 1px solid rgba(204, 204, 204, 0.4);
  background: transparent;
  padding: 10px;
  margin-top: 10px;
}

.contctusdetail {
  margin-bottom: 20px;
}

.contctusdetail span {
  margin-bottom: 0px !important;
}

.termsandconditions.con {
  padding: 50px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}