a.chat_screen_arrow_mobile_link svg g path:last-child {
    color: #18181B;
}

.chat_screen_arrow_mobile_link {
    font-size: 24px;
}

.chat_screen_mobile .msgsends {
    height: 75vh;
    margin-bottom: 20px;
}

.chat_screen_mobile .says_hii_gif {
    height: 100% !important;
}

.chat_screen_mobile ul.chats {
    height: 100%;
}

.chat_screen_mobile .entermsgsend.entermsgsends {
    max-width: -webkit-fill-available;
}

@media (max-width: 767px) {
    ul.chatprofileheader {
        margin-top: 15px;
    }
}