aside {
  background: #F4F4F5;
  height: 100vh;
}

ul.chatmenu {
  padding: 0;
  list-style: none;
  margin: 0;
}

ul.chatmenu li a span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #f8f5f0;
  margin-left: 12px;
}

ul.chatmenu {
  margin: 0;
  margin-top: 30px;
}

ul.chatmenu li a {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

ul.chatmenu li {
  margin-bottom: 10px;
}


.userAvatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.userAvatarMain {
  width: 48px;
  height: 48px;
  margin-bottom: 5px;
  border-radius: 50%;
}

.asidechat {
  padding: 24px 30px;
}

.asidemain a.active {
  background: #18181B;
}

.asidemain a.active svg path {
  fill: #18181B;
}

.asidemain a.active span {
  color: #18181B !important;
}

.chatscreen .row {
  margin: 0;
  margin: 0;
  height: 100%;
}

.chatscreen .col-lg-2 {
  padding-left: 0;
  padding: 0;
}

li.display_date {
  display: flex;
  flex-direction: row;
  font-size: small;
}

li.display_date:before,
li.display_date:after {
  content: "";
  flex: 1;
  border-bottom: 1px solid;
  margin: auto;
  border-color: #e1e1e1;
}

li.display_date:before {
  margin-right: 10px
}

li.display_date:after {
  margin-left: 10px
}

span.close {
  width: 30px;
  height: 30px;
  background: #18181B;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 26px;
  right: -30px;
}

span.close a {
  color: white;
}

aside.asidemain {
  position: relative;
}

.chatscreen .col-lg-10 {
  padding: 0;
}

header.chatheader {
  background: #f9f9f9;
}

header.chatheader .header {
  padding: 24px;
}

.customerlist {
  background: #f8f5f0;
}

.customersearch {
  padding: 15px 26px;
  position: relative;
}

.customersearch input {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  border: none;
  width: 100%;
  height: 30px;
  padding-left: 11px;
}

.customersearch span {
  position: absolute;
  right: 36px;
  top: 50%;
  transform: translateY(-50%);
}

ul.chatlists {
  padding: 0;
  list-style: none;
  padding: 10px;
    /* New Add */
  /* height: 89%; */
  height: calc(100vh - 145px);
  overflow-y: scroll;
  background-color: #F4F4F5;
}

ul.chatlists li a {
  display: flex;
  display: flex;
  align-items: center;
  padding: 15px;
}

.profileinfochat h4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #18181B;
  border-radius: 2px;
  margin-bottom: 6px;
  font-size: 16px !important;
}

.profileinfochat p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.05em;
  color: #18181B;
  margin: 0;
}

.profileinfochat {
  margin-left: 11px;
}

.chatscreen .col-lg-3 {
  padding: 0;
  height: 100%;
}

a.activechat {
  background: rgba(0, 0, 0, 0.0373);
  padding-bottom: 15px !important;
}

ul.chatlists li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  /* padding-bottom: 15px; */

}

ul.chatlists li a:hover {
  background-color: #d0ceca;
}



/* ul.chatlists li a {
  padding-bottom: 0;
} */

span.msg {
  display: inline-flex;
  background: #005fb7;
  border: 1px solid #005fb7;
  border-radius: 999px;
  width: 15px;
  height: 15px;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
}

.chatscreen {
  height: 100vh;
  overflow: hidden;
}

.customerlist {
  height: 100%;
}

li.btnlogout {
  position: fixed;
  bottom: 0;
}

ul.chatprofileheader {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 1px solid #ededed;
}

ul.chatprofileheader li {
  display: flex;
  align-items: center;
}

.chatmeninfo h4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14.2179px;
  line-height: 17px;
  font-size: 17px !important;
  color: #18181B;
  margin-bottom: 3px;
}

.chatmeninfo p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14.2179px;
  line-height: 17px;
  color: #b6b4bd;
  margin: 0;
}

.chatmeninfo {
  margin-left: 16px;
}

ul.chatprofileheader a {
  margin-right: 26px;
}

.chatscreen .col-lg-9 {
  padding: 0;
}



.entermsgsend input {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 114px;
  width: 100%;
  height: 47px;
  border: 1px solid rgb(238 238 238);
  border-radius: 50px;
  padding-left: 16px;
}

.msgsends {
  position: relative;
  display: flex;
  /* height: 79vh; */
  height: calc(100vh - 180px);
  /* height: 81vh; */
  flex-direction: column;
}

.entermsgsend a {
  position: absolute;
  right: 0;
  background: #0065C0;
  border-radius: 131px;
  width: 83px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14.1028px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #f8f5f0;
}



ul.chats li {
  align-items: center;
}

.active_user {
  background-color: #d0ceca;
}

ul.chats {
  padding: 0;
  list-style: none;
  margin: 10px 20px;
  padding-bottom: 20px !important;
  height: 700px;
  overflow: auto;
}

ul.chats li span {
  border-radius: 3px;
  padding: 10px 20px;
}



.chatscreen {
  height: 100vh !important;
}

.dashdetail .profilebasicdetail {
  border: none;
  border-radius: 8px;
}



.send_massage {
  display: flex;
  justify-content: end;
  align-items: end;
}

.send_massage span {
  max-width: 80%;
  word-wrap: break-word;
}

.receiv_massage {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.receiv_massage span {
  max-width: 80%;
  word-wrap: break-word;
}

.massage_sent {
  border-radius: 5px;
  background-color: #f3f3f3;
  position: relative;
  white-space: break-spaces;
  max-width: 60%;
  word-break: break-all;
}

.set_button {
  width: 92%;
}

.entermsgsend {
  padding: 0 !important;
}

.entermsgsends {
  margin: 0px 25px;
  max-width: 1150px;

}

.chat_with_doctor .inner_div_dashboard {
  padding-top: 75px !important;
}

.entermsgsends textarea {
  width: 100% !important;
  resize: none;
  border-radius: 5px;
  border: none;
  background-color: #e1e1e1d5;
  padding-left: 20px;
  grid-auto-rows: auto;
}

.entermsgsends textarea:focus {
  outline: none;
}

.massage_count {
  background-color: #005fb7;
  border-radius: 50px;
  padding: 5px;
  color: #FFFFFF;
  font-size: 12px;
  height: 20px;
  min-width: 20px;
  max-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_msg {
  height: 200px;
  width: 400px;
  background-color: rgb(240, 244, 248);
  border-radius: 3px;
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal_msg p {
  font-weight: 600;
  margin-bottom: 0px;
}

.popover {
  min-width: 250px;
  /* Adjust the width as per your requirements */
}

.join-button {
  background: #0065C0;
  border-radius: 99px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #F8F5F0;
  justify-content: center;
  height: 40px;
  padding: 0px 15px;
  text-decoration: none;
}

.calender .modal-content {
  background-color: white !important;
}

.ant-picker-calendar-mini {
  background: #FFFBF3;
}

.ant-picker-date-panel {
  background: #FFFBF3;
}

:where(.css-dev-only-do-not-override-12upa3x).ant-picker-calendar .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-12upa3x).ant-picker-calendar .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-12upa3x).ant-picker-calendar .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  color: #fff;
  background: #18181B;
}

:where(.css-dev-only-do-not-override-12upa3x).ant-picker-calendar .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid #18181B
}

.show-date {
  color: #18181B;
  font-weight: 500;
  font-size: 18px;
}

.bg-active {
  background: #18181B;
}

.cursor-pointer {
  cursor: pointer;
}

.sloatHover:hover {
  background: #18181B !important;
  color: white !important;
}

.btnCon {
  background: #0065C0;
  padding: 15px 45px;
  border-radius: 100px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #f8f5f0;
}

.Cancel-button {
  background: white;
  padding: 12px 12px;
  border-radius: 100px;
  font-family: "Inter", sans-serif;
  border: 1px solid #18181B;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #18181B;
}

.Reschedule-button {
  background: #0065C0;
  padding: 12px 12px;
  border-radius: 100px;
  font-family: "Inter", sans-serif;
  border: 1px solid #0065C0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #f8f5f0;
}

.join-button {
  background: #0065C0;
  padding: 12px 30px;
  border-radius: 100px;
  font-family: "Inter", sans-serif;
  border: 1px solid #0065C0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #f8f5f0;
  margin-top: 20px;
}

.fw-semibold {
  font-weight: 500 !important;
}

.w-93 {
  width: 93% !important;
}