
.pac-container {
    max-height: 200px;
    overflow-y: auto;
    z-index: 1111;
  }

  .pac-item {
    padding: 8px;
    cursor: pointer;
  }

  .pac-item:hover {
    background-color: #f5f5f5;
  }

  .pac-logo:after {
    display: none;
  }
  .updateInfoInput{
    width: 100%;
    border: 1px solid #18181E;
    height: 47px;
    padding: 14px 10px 14px 14px;
  }