.borderdiv.payment {
    display: initial;
    height: 100vh;
    overflow-y: auto;
}

.paymentDetails {
    background: #FFFFFF;
    margin: 0px 50px;
}



.paymentheading h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 53px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    /* Primary/2 */

    color: #18181B;
    padding: 10px 24px;
    margin: 0;
}

.paymentheading {
    border-bottom: 1px solid rgb(204 204 204 / 60%);
}

.paymentinfo {
    padding: 24px;
}

.profiledetail span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    /* Primary/2 */

    color: #18181B;

    opacity: 0.6;
}

.profiledetail span svg {
    margin-right: 10px;
}

.profiledetail input {
    border: 1px solid rgba(204, 204, 204, 0.4);
    height: 47px;
    width: 100%;
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    /* Primary/2 */

    color: #18181B;
    padding-left: 14px;
}

.profiledetail {
    margin-bottom: 24px;
}

.paybtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.paybtn {
    margin-bottom: 20px;
    border-top: 1px solid #18181E;
}

.btnnext.pay a {
    width: 200px;
}

.btnnext.pay {
    margin: 0;
}

.btnnext.pay a {
    text-transform: capitalize;
}

.payinfo p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    /* dark/400 */

    color: #9D9AA7;
    margin-bottom: 10px;
}

.payinfo h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;


    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color: #18181B;
    margin: 0;
}

.coupn input {
    border: none !important;
}


select {
    outline: none;
    appearance: none !important;
}

select:hover {
    appearance: none !important;
    background-repeat: no-repeat;
    background-position: 0px 0px !important;
    background-size: 0em !important;
    cursor: pointer;
}







.name-container {
    position: relative;
    width: 100%;
}

.nameinput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.nameinput1 {
    width: 100%;
    padding: 10px;
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    font-size: 16px;
}

.suggestion-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #F4F4F5;
    /* border: 1px solid #ccc; */
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    opacity: 1;
}

.suggestion-list1 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #F4F4F5;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    opacity: 1;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item--active {
    background-color: #f0f0f0;
}

.suggestion-item--active1 {
    background-color: #f0f0f0;
    color: #F4F4F5;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.suggestion-item1:hover {
    background-color: #f0f0f0;
}

.loading {
    padding: 10px;
}