.termsandconditions {
  background: #F4F4F5;
  border-radius: 20px;
  padding: 20px;
  margin: 40px;
  padding-bottom: 50px;
  margin-top: 100px !important;
}

.termsandconditions span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;

  /* Primary/2 */
  color: #18181B;
  margin-bottom: 10px !important;
  display: flex;
}

span.patient_name_span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;

  /* Primary/2 */
  color: #18181B;
}

.termsandconditions h4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  text-align: center;

  /* Primary/2 */
  color: #18181B !important;
  display: flex;
  margin-bottom: 18px;
}

.termsandconditions p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  /* Primary/2 */
  color: #18181B;
}

.termsandconditions ul li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  /* Primary/2 */
  color: #18181B;
  list-style: none;
}

.termsandconditions ul li span {
  width: 8px;
  height: 8px;
  background: #0065C0;
  border-radius: 100%;
  margin: 0 !important;
  margin-top: 6px !important;
  margin-right: 5px !important;
}

.termsandconditions {}

ul.points {
  padding: 0;
  list-style: none;
}

ul.points li {
  display: flex;
}

ul.points li {
  margin-bottom: 10px;
}

a.bgtransparent {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  padding: 15px 45px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
  color: rgba(0, 59, 97, 0.5);
  padding: 10px 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.agreebtns {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.agreebtns a.btnred {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  /* margin-left: 20px; */
  height: 50px;
  margin-top: 0;
  text-transform: capitalize;
}

.agreebtns {
  justify-content: center;
}